<div layout="row" flex>

   <div layout="column" flex>
     <md-toolbar md-theme="top" class="md-whiteframe-z2">
       <simple-toolbar></simple-toolbar>
     </md-toolbar>

         <div layout="column" flex>
               <div layout="row" layout-margin layout-padding flex layout-align="center start">
                   <div flex-sm="90" flex="60" class="md-padding" layout="row" layout-wrap layout-align="center center">

                       <md-card ng-repeat="clase in clases" flex="80" class="hover-card" style="background-image: url('images/textures/symphony2.png')">
                           <a class="text-center text-muted" flex ng-href="#/Docente/{{clase.id_clase}}/Contenido">
                               <div layout-padding style="background-color: {{clase.color}};">
                                   <h3 class="md-title" style="color:white;margin-top: 10px;text-shadow:1px 2px 6px #000000">{{clase.materia}}</h3>
                                   <strong class="md-subhead" style="color:white;margin-top: 10px;text-shadow:1px 2px 6px #000000">{{clase.nombre_curso}}{{clase.indice}}</strong>
                               </div>
                               <div layout="row" layout-align="center center" class="text-center" style="background: #eee;padding:1%">
                                   <div flex> 23% <br><small>Progreso</small></div>
                                   <div flex> 3%  <br><small>Inasistencias</small></div>
                                   <div flex> 4,3 <br><small>Promedio de notas</small></div>
                               </div>
                           </a>
                       </md-card>

                   </div>
               </div>
       </div>
   </div>
</div>
