<md-card>
    <md-card-content>
        <h2 class="md-title">Paracosm</h2>
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </p>
        <div class="ct-chart" id="ct-chart1"></div>
    </md-card-content>
</md-card>

<md-card>
    <md-card-content>
        <h2 class="md-title">Paracosm</h2>
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </p>
        <div class="ct-chart" id="ct-chart2"></div>
    </md-card-content>
</md-card>
