<div layout="column" layout-margin>
    <md-toolbar layout="row">
        <div flex="60" layout="row" layout-padding layout-align="start center">Notas</div>
        <div flex="40" layout="row" layout-align="end center">
            <md-select  name="myModel" placeholder="Periodo" ng-model="myModel" required md-theme="top">
                <md-option value="1">Primer período</md-option>
                <md-option value="2">Segundo período</md-option>
                <md-option value="3">Tercer período</md-option>
                <md-option value="4">Cuarto período</md-option>
            </md-select>
        </div>
    </md-toolbar>
    <div layout-margin>
      <md-card>
          <md-card-content>
              <h2 class="md-title">Comparación de promedios versus materias</h2>
              <div style="transform: rotate(-90deg);width: 110px;position: relative;top: 70px;left: -50px;">% de inasistencia</div>
              <div class="ct-chart" id="ct-chart2"></div>
              <div class="text-center">Materias</div>
          </md-card-content>
      </md-card>

      <md-card>
          <md-card-content>
              <h2 class="md-title">Comparación de promedios versus grados</h2>
              <div style="transform: rotate(-90deg);width: 110px;position: relative;top: 70px;left: -50px;">% de inasistencia</div>
              <div class="ct-chart" id="ct-chart4"></div>
              <div class="text-center">Grados</div>
          </md-card-content>
      </md-card>
    </div>
</div>
